@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.container {
  overflow: hidden; /* Hide scrollbars */
  text-align: center;
  padding: 0.8em 0.4em;
  width: 100%;
}
.hide-mobile {
  display: none;
}
.logo {
  width: 65px;
}
header {
  display: flex;
  justify-content: space-between;
}
.menu {
  width: 35px;
  margin-top: 45%;
}
.head {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/man.JPG");

  /* Create the parallax scrolling effect */

  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 65%;
}

section {
  color: #fff;
  font-size: 0.7em;
}

#slideset2 figcaption {
  font-weight: bold;
  font-size: 0.9em;
  padding: 5px 0 0;
}

#slideset2 {
  margin-top: 20px;
  height: 5em;
  position: relative;
  overflow: hidden;
}

nav ul {
  position: fixed;
  width: 60%;
  top: 0;
  right: 0;
  text-align: left;
  background: rgb(36, 41, 44);
  height: 100%;
  z-index: 7;
  padding-top: 3em;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1em 2em;
  background-color: inherit;
}

nav ul li a:hover {
  background-color: rgb(83, 89, 94);
}

.exit-btn {
  margin-bottom: 1em;
  margin-top: -1.3em;
  text-align: right;
  padding: 0 1.4em;
}

.exit-btn img {
  width: 15px;
  cursor: pointer;
}
.background {
  display: flex;
  min-height: 100px;
  padding-bottom: 30px;
}
.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}
.activity-container {
  padding: 20px;
}
.screen {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  z-index: -1;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.screen-header-right {
  display: flex;
}

.app-tittle {
  position: relative;
  color: #ffffff;
  font-size: 1.7em;
  padding: 10px 0 10px;
}

.app-contact {
  margin-top: auto;
  font-size: 0.8em;
  color: rgb(194, 192, 192);
}
.app-form-group {
  margin-bottom: 20px;
  padding: 20px;
}
.app-form-group.message {
  margin-top: 40px;
}
.app-form-group.buttons {
  margin-bottom: 0px;
  text-align: right;
  padding: 10px;
}
.app-form-control {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(189, 186, 186);
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}
.app-form-control::placeholder {
  color: rgb(175, 175, 175);
}

.app-form-control::focus {
  border-bottom-color: rgb(241, 207, 207);
}
.app-form-button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  padding: 10px;
}
.app-form-button:hover {
  color: #b9134f;
}
footer {
  font-size: 1em;
  background-color: rgb(61, 61, 60);
  color: #fff;
  margin-top: -20px;
}
footer P {
  font-size: 0.8em;
  background-color: rgb(61, 61, 60);
  color: #fff;
  padding: 10px 10px 5px 10px;
}
.footerimg {
  width: 100px;
}
.fa img {
  width: 50px;
  padding: 10px 0 10px;
}
@media only screen and (min-width: 425px) {
  .head {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../img/man.JPG");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .head {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../img/man.JPG");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .container {
    width: 95%;
  }
  section h3 {
    padding-top: 10%;
    font-size: 2.5em;
  }
  .form-container {
    width: 80%;
    margin: auto;
    margin-bottom: 10%;
  }
  .screen {
    position: relative;
    background-color: #3e3e3e;
    border-radius: 15px;
  }
  .screen:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    z-index: -1;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  }
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .screen-header-left {
    margin-right: auto;
  }
  .screen-header-button {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    border-radius: 8px;
    background-color: #fff;
  }
  .screen-header-right {
    display: flex;
  }

  .screen-body {
    display: flex;
  }
  .screen-body-item {
    flex: 1;
    padding: 50px 50px 50px 10px;
    width: 60%;
  }

  .screen-body-item.left {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  .app-tittle {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ffffff;
    font-size: 2.1em;
    width: 10%;
    font-weight: bold;
    padding-left: 10px;
  }
  .app-tittle:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 60px;
    height: 5px;
    background-color: #fdfdfd;
    font-weight: bold;
  }
  .app-contact {
    margin-top: auto;
    font-size: 1.5em;
    color: rgb(194, 194, 194);
  }
  .app-form-group {
    margin-bottom: 15px;
  }
  .app-form-group.message {
    margin-top: 40px;
  }
  .app-form-group.buttons {
    margin-bottom: 0px;
    text-align: right;
  }
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(219, 219, 219);
    color: rgb(231, 229, 229);
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color 0.2s;
  }
  .app-form-control::placeholder {
    font-size: 1.5em;
    color: rgb(175, 175, 175);
  }

  .app-form-control::focus {
    border-bottom-color: #ddd;
  }
  .app-form-button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 1.5em;
    cursor: pointer;
    outline: none;
  }
  .app-form-button:hover {
    color: #b9134f;
  }
  address {
    font-size: 1em;
  }
  .footerimg {
    width: 100px;
  }

  .grid2-container {
    display: grid;
    grid-template-columns: 30% 30% 35%;
    padding: 10px 0 0 0;
  }
  #leftlogo {
    width: 100%;
    font-size: 1.5em;
  }
  #rightlogo {
    width: 100%;
    font-size: 1.5em;
    padding-left: 10px;
  }
  .bottomBar {
    width: 100%;
    font-size: 1.5em;
    padding-top: 30px;
    margin: auto;
  }
  #Hline {
    display: none;
  }
  .show-desktop {
    display: block;
    margin: 0 auto 15% auto;
  }
  .hide-desktop {
    display: none;
  }
  nav ul {
    position: inherit;
    width: auto;
    background: none;
    height: auto;
    display: flex;
    padding-top: 0;
  }
  nav ul li {
    float: left;
  }
  nav ul li a {
    color: rgb(255, 255, 255);
    background-color: inherit;
    text-align: right;
    padding: 15px 15px;
    font-size: 1.2em;
    left: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  .form-container {
    width: 60%;
    margin: auto;
    margin-bottom: 10%;
  }
}
